@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

html{
    font-size: 62.5%;
    color: var(--white-color);
    font-weight: 300;
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-grey-dark);
    font-family: var(--primary-font);
    font-size: var(--normal-font);
}

.container{
    max-width: 1140px;
    margin: auto;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.alinhar-itens-no-centro{
    align-items: center;
}

.inner-shadow{
    box-shadow: 
        inset 3px 3px 3px #222327,
        inset -3px -3px 3px #454545;
}

.outher-shadow{
    box-shadow: 
        3px 3px #222327,
        -3px -3px 3px #454545;
}

.redes-sociais a{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    text-align: center;
    margin: 0 4px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.redes-sociais a i{
    line-height: 40px;
}
.redes-sociais a:hover{
    color: var(--primary-color);
}


.section{
    padding: 7rem 0 7rem;
}

.section-title{
    text-align: center;
    flex: 0  0 100%;
    max-width: 100%;
    padding: 60px 0;
}

.section-title h2{
    font-size: var(--giant-font);
    font-weight: 500;
    text-transform: uppercase;
}

.botao{
    font-size: var(--large-font);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
    background-color: var(--primary-color);
}

.botao:hover{
    background-color: var(--secundary-color);
    color: var(--white-color);
}


