:root{
    --primary-color: #43bd8e;
    --secundary-color:#fd6c22;
    --white-color:#fff;
    --color-back-dark:#040203;
    --color-back-dark-alpha:#040203fa;
    --color-grey-dark:#282828;
    --color-grey-light:#353535;
}

:root{
    --primary-font:'Poppins', sans-serif;
    --secundary-font:'Raleway', sans-serif;
    --giant-font:4.5rem;
    --large-font:3rem;
    --medium-font:2.4rem;
    --small-font:1.6rem;
}

:root{
    --mobile-padding:30px;
}